<?xml version="1.0" ?>
<robot name="SART">
<link name="base_link">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.121011 0.025008 0.004727"/>
    <mass value="1.451068"/>
    <inertia ixx="0.005564" ixy="-2e-06" ixz="-0.001001" iyy="0.020544" iyz="0.000963" izz="0.015333"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://fusion2urdf/SART/bin_stl/base_link_m-binary.stl"/>
    </geometry>
    <material name="silver">
      <color rgba="1 0 0 1"/>
    </material>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://fusion2urdf/SART/bin_stl/base_link_m-binary.stl"/>
    </geometry>
  </collision>
</link>
<gazebo>
  <plugin filename="libgazebo_ros_control.so" name="control"/>
</gazebo>
</robot>
